body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/header.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  width: 100%;
}

nav.scroll ul {
  background-color: #000;
  opacity: 0.8;
}

nav ul {
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 1s;
  overflow: hidden;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.hamburger {
  display: none;
  color: #fff;
  background: #000;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  text-align: right;
  padding: 15px 24px;
}

@media (max-width: 580px) {
  .hamburger {
    display: block;
  }

  nav ul {
    max-height: 0px;
    background-color: #000;
  }
  .menu {
    max-height: 20em;
  }
  nav ul li {
    width: 100%;
    padding: 24px 0;
  }
}

.containerArt1 {
  margin: 10vh;
  margin-left: auto;
  margin-right: auto;
  line-height: 25px;

  width: 80%;
  padding: 5%;
}

.flexBox {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-around;
}

.artText {
  width: 50%;
}

.banner {
  width: 100%;
}

@media (max-width: 580px) {
  .artText {
    width: 90%;
    text-align: center;
  }
  .artImg {
    display: none;
  }
}

/*ARTICLE 2*/
.containerArt2 {
  font-size: 15px;
}
.art2 {
  margin-top: 15vh;
}

.titleArt2 {
  font-size: 30px;
  width: 100%;
  text-align: center;
}

.artText2 {
  width: 60%;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 20px;
}

span {
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
}

.artImg2 {
  float: left;
  padding-right: 2%;
}

.artText2Suite {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-size: 20px;
}

/* FOOTER */
.footer {
  margin-top: 5%;
  width: 100%;
  background-color: #000;
  color: rgba(204, 204, 204, 0.8);
}
.titleFooter {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
  padding-bottom: 2%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-ul {
  list-style: none;
}
.footer-ul li {
  list-style: none;
  margin-bottom: 5%;
}

.footer-col {
  width: 30%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
}

.social {
  text-align: center;
}

.footer-col .social a {
  display: inline-block;
  height: 60px;
  width: 60px;
  color: white;
  margin-right: 2%;
  text-align: center;
}

@media (max-width: 580px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}
